@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar behavior */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1a1a1a;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-thumb:active {
    background-color: #666;
}